.profilContainer {
  display:flex;
  @media (min-width: 0) {
    flex-direction: column;
  }
  @media (min-width: 600px) {
    flex-direction: row;
  }
  .menu {
    @media (min-width: 0) {
      width:100%;
    }
    @media (min-width: 600px) {
      width:250px;
    }

    margin-left: 20px;
  }
  .content {
    flex:1;
  }
}
