<div class="notesContainer">
  <h2>MES NOTES</h2>
  <div class="notesList">

    <div [ngClass]="addNoteClass" (click)="createForm()">
      <h4 *ngIf="!isCreateForm">Crée une note</h4>
      <img src="assets/image/add.png" alt="add"  *ngIf="!isCreateForm" />

      <h4 *ngIf="isCreateForm">Titre de votre note :</h4>
      <input type="text" [(ngModel)]="createNoteTitle" *ngIf="isCreateForm" class="inputCreate">
      <button *ngIf="isCreateForm" (click)="addNote()" class="buttonCreate" [disabled]="!createNoteTitle">Créer</button>
    </div>

    <div *ngFor="let note of notesList" class="noteCard" (click)="goToNote(note.id, note.permissionLevel)">
      <h3>{{note.title}}</h3>
      <p>{{note.content | noteResume}}</p>

      <div class="permissionLevel">
        <p>{{note.collaboratorCount}} <ion-icon name="people"></ion-icon></p>
        <span *ngIf="note.permissionLevel">{{ getPermissionLevelValue(note.permissionLevel) }}</span>
      </div>
    </div>
  </div>
</div>
