<main>
  <article class="leftScreen">
    <h1>My Web Companion : Votre compagnon numérique</h1>
    <section>
      <h2>Accessible partout</h2>
      <p>
        Transportez vos notes et vos sites web de références partout ou vous allez. Prenez facilement des notes à la volée ou
        ajouter un site internet dont vous venez d'entendre parler pour le consulter plus tard à tête reposée et sans risque de
        le perdre ou l'oublier
      </p>
    </section>
    <section>
      <h2>Videz vous la tête</h2>
      <p>
        Plus besoin de retenir un nombre important d'informations tout au long de votre journée. Prenez des notes, videz vous la
        tête, vous n'oublierez plus rien en enregistrant les informations clef plutôt qu'en tentant de tout retenir.
      </p>
    </section>
    <div class="cta">
      <button routerLink="/inscription">Inscription</button>
      <button routerLink="/connexion">Connexion</button>
    </div>
    <div></div>

  </article>
  <div class="rightScreen">
    <img src="/assets/image/demo.png" alt="my web companions">
  </div>
</main>


