header {
  height:8rem;
  background-image: url("/assets/image/header.jpg");
  background-repeat: no-repeat;
  background-color: #ededed;
  h1 {
    padding-top: 2.2rem;
    display: flex;
    justify-content: flex-end;
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    color: #3793AF;
    font-weight: bold;
    @media (min-width: 0) {
      padding-right: 5%;
    }
    @media (min-width: 780px) {
      padding-right: 12%;
    }
    span {
      @media (max-width: 600px) {
        background-color: #FFFFFFCC;
        border-radius: 20px;
        padding: 5px;
        color: #3793AF;
      }
    }
  }
  .profil{
    text-align: right;
    margin-right: 1rem;
    margin-top: -0.6rem;
    position: relative;
    img{
      cursor:pointer;
    }
  }
}
