<ion-content>
  <app-header></app-header>

  <div class="container">
    <div class="intro">
      <h1>My Web Companion, c'est quoi ?</h1>
      <p>"My Web Companion" est une application innovante conçue pour améliorer votre expérience en ligne. Disponible sous
        forme
        d'application mobile ou de page d'accueil pour les navigateurs web, "My Web Companion" regroupe tout ce dont vous
        avez besoin
        pour mieux gérer votre quotidien numérique.
      </p>
      <p>
        Avec un bloc-notes, un agenda, des notes et des sites web de
        références tout en un, "My Web Companion" vous permet de prendre des notes, de planifier votre journée et de ne plus
        jamais oublier ce qui est important pour vous.
      </p>
    </div>

    <div class="oneBlock">
      <div class="screenText">
        <h2>Bloc-Notes :</h2>
        <p>Avec le bloc-notes de "My Web Companion", vous pouvez jeter vos idées sur le papier sans vous soucier de
          les perdre ou de les oublier. L'espace de notes illimité vous permet de prendre autant de notes que vous le
          souhaitez, et la synchronisation en temps réel entre votre navigateur web ou votre application mobile signifie
          que vous pouvez accéder à vos notes à tout moment et n'importe où.
        </p>
      </div>
      <div class="screenImageRight">
        <img src="/assets/image/bloc-notes.png" alt="bloc-notes">
      </div>
    </div>

    <div class="oneBlock reverseSmall">
      <div class="screenImageLeft">
        <img src="/assets/image/agenda.png" alt="Agenda">
      </div>
      <div class="screenText">
        <h2>Agenda :</h2>
        <p>"My Web Companion" comprend un agenda complet pour gérer vos tâches et vos événements. Planifiez votre
          journée, programmez des rappels pour ne rien oublier et suivez l'avancement de vos tâches. L'agenda de "My Web
          Companion" vous
          permet de rester organisé et de ne plus jamais manquer un rendez-vous important.
        </p>
      </div>
    </div>

    <div class="oneBlock">
      <div class="screenText">
        <h2>Notes et sites web de référence :</h2>
        <p>"My Web Companion" vous permet de prendre des notes à la volée et d'ajouter des sites
          web de référence que vous souhaitez consulter plus tard. Transportez vos notes et vos sites web de référence
          partout où vous allez, sans risque de les perdre ou de les oublier.
        </p>
      </div>
      <div class="screenImageRight">
        <img src="/assets/image/noteAndLink.png" alt="notes et favoris">
      </div>
    </div>

    <div class="intro">
      <h1>Page d'accueil de votre navigateur :</h1>
      <p>En utilisant "My Web Companion" en tant que page d'accueil pour votre navigateur web, vous avez accès à tout ce dont
        vous avez besoin dès que vous ouvrez votre navigateur. Plus besoin de perdre du temps à ouvrir plusieurs onglets
        ou à rechercher des informations dispersées dans différents endroits. "My Web Companion" est un outil complet pour
        optimiser
        votre expérience en ligne et pour mieux gérer votre quotidien numérique.
      </p>
    </div>

  </div>
  <app-footer></app-footer>
</ion-content>
