.authentication {
  display:flex;
  margin-bottom: 4rem;
  margin-top: 1rem;
  .authenticationLeft{
    @media (min-width: 0) {
      display:none;
    }
    @media (min-width: 800px) {
      width: 25%;
      display: flex;
    }
    @media (min-width: 1500px) {
      width: 20%;
    }
    justify-content: center;
    img {
      width:80%;
    }
  }
  .authenticationCenter {
    box-shadow: 0 3px 15px #00000029;
    border-radius: 45px;
    @media (min-width: 0) {
      width:90%;
      margin-right:5%;
      margin-left:5%;
    }
    @media (min-width: 800px) {
      width: 50%;
      margin-right:0;
      margin-left:0;
    }
    @media (min-width: 1500px) {
      width: 60%;
    }
    h2 {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      margin-bottom: 4rem;
      @media (min-width: 0) {
        font-size: 1.3rem;
      }
      @media (min-width: 800px) {
        font-size: 2rem;
      }
    }
    .form {
      margin:0 auto;
      width:80%;
      .inputFullWidth {
        width:100%;
      }
      input {
        margin-bottom: 2rem;
        height:3rem;
        padding-left: 1rem;
        border:1px solid #3A406E ;
        border-radius: 5px;
      }
      button {
        width:100%;
        height:3rem;
        border-radius: 10px;
        font-size: 1.5rem;
      }
    }
    .passwordForgotten{
      margin-top: -1rem;
      margin-bottom: 3rem;
    }
    .toSubscription{
      margin:0 auto;
      margin-top: 4rem;
      margin-bottom: 1rem;
      width:80%;
      display: flex;
      justify-content: center;
      @media (min-width: 0) {
        flex-direction: column;
        align-items: center;
      }
      @media (min-width: 425px) {
        flex-direction: row;
      }
    }
  }
  .authenticationRight{
    @media (min-width: 0) {
      display: none;
    }
    @media (min-width: 800px) {
      display: flex;
      width:25%;
    }
    @media (min-width: 1500px) {
      width: 20%;
    }
    justify-content: center;
    img {
      width:80%;
    }
  }
}
