<ion-content>
  <app-header></app-header>
  <div class="authentication">

    <div class="authenticationLeft">
      <img src="assets/image/woman-with-laptop.svg" alt="" />
    </div>

    <div class="authenticationCenter" *ngIf="!token; else resetPasswordForm">
      <h2>Mot de passe oublié ?</h2>
      <div class="form">
        <form (ngSubmit)="sendPasswordResetEmail()">
          <input type="email" id="email" name="email" placeholder="email" [(ngModel)]="email" class="inputFullWidth" required>
          <button type="submit" [disabled]="checkIfEmpty()">Envoyer email de réinitialisation</button>
        </form>
      </div>
    </div>

    <ng-template #resetPasswordForm>
      <div class="authenticationCenter">
        <h2>Réinitialisation du mot de passe</h2>
        <div class="form">
          <form (ngSubmit)="resetPassword()">
            <input type="password" id="newPassword" name="newPassword" placeholder="Nouveau mot de passe" [(ngModel)]="newPassword" class="inputFullWidth" required>
            <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" placeholder="Confirrmer le nouveau mot de passe" [(ngModel)]="newPasswordConfirmation" class="inputFullWidth" required>
            <div *ngIf="!passwordsMatch()" class="error-message">Les mots de passe ne correspondent pas.</div>
            <button type="submit" [disabled]="!passwordsMatch()">Réinitialise le mot de passe</button>
          </form>
          <div *ngIf="resetError" class="error-message">{{ resetError }}</div>
          <div *ngIf="resetSuccess" class="success-message">Password reset successful.</div>
        </div>

      </div>
    </ng-template>
  
    <div class="authenticationRight">
      <img src="assets/image/man-reads-paper.svg" alt="" />
    </div>

  </div>
  <app-footer></app-footer>
</ion-content>
