.groupLinksContainer {
  border:1px solid #3A406E ;
  border-radius: 5px;
  .titleContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    h2 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }
    div{
      margin-right: 1rem;
      cursor: pointer;
    }
  }
  .groupLinksList {
    display: flex;
    overflow-x: auto;
    .groupLinksCard {
      min-width:200px;
      max-width: 200px;
      height:250px;
      overflow: auto;
      border: 1px solid #3A406E ;
      border-radius: 5px;
      margin-left: 1rem;
      margin-bottom: 2rem;
      .titleGroupLink {
        display:flex;
        justify-content: space-between;
        width:100%;
        position:relative;
        h3 {
          font-weight: bold;
          margin-left: 0.3rem;
          margin-top: 0.3rem;
          margin-bottom: 0.4rem;
        }
        div {
          // display: flex;
          // justify-content: center;
          margin-top: 0.3rem;
          margin-right: 0.5rem;
          font-weight: bold;
          cursor:pointer; 
        }
      }
      h4 {
        font-weight: bold;
        margin-left: 0.3rem;
        margin-top: 0.3rem;
        margin-bottom: 0.4rem;
        text-align: center;
      }
      p{
        margin-left: 0.3rem;
      }
      &:last-child{
        margin-right: 1rem;
      }
      img {
        margin-left: 52px;
        margin-top: 50px;
      }
      .linksContainer {
        li {
          list-style: none;
          margin-bottom: 0.5rem;
          margin-left: 0.5rem;
          .tooltip {
            position: relative;
            display: flex;
            justify-content: space-between;
            .tooltiptext {
              visibility: hidden;
              transition: visibility 0.3s ease-in-out;

              .tooltip:hover & {
                visibility: visible;
              }
            }
          }
        }
      }
      .addOneLink {
        margin:0 auto;
        margin-bottom: 1rem;
        width:90%;
        background-color: #f3f3f3;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .closeAdd {
          width:100%;
          height:20px;
          display: flex;
          justify-content: flex-end;
          margin-right: 1rem;
          margin-top: 0.2rem;
          color: red;
          cursor: pointer;
        }
        h4 {
          margin-top: -15px;
        }
        input {
          width:90%;
          margin-bottom: 0.5rem;
        }
        button {
          padding:0.4rem;
          border-radius: 5px;
          margin-bottom: 0.6rem;
        }
      }
    }
    .addGroupLinksCard {
      min-width: 200px;
      max-width: 200px;
      height: 250px;
      border: 1px solid #3A406E ;
      border-radius: 5px;
      margin-left: 1rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        font-weight: bold;
        margin-left: 0.3rem;
        margin-top: 0.3rem;
        margin-bottom: 0.4rem;
        text-align: center;
      }
      .inputCreate {
        width:190px;
        margin-left:5px;
        margin-top: 50px;
      }
      .buttonCreate {
        width:150px;
        margin-left:5px;
        margin-top: 60px;
        text-align: center;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}
